<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="header-dashboard">
        <div class="d-logo">
            <img src="/assets/img/logo.jpg" alt="Logo">
        </div>
        <div class="d-sesion">
            <img src="/assets/img/golden.jpg" alt="Perrito" class="card-img-top rounded-circle">
            <span>
                <p><strong>Bienvenido, </strong><br>Usuarios
                <a href="login.html"><i class="bi bi-box-arrow-in-right"></i></i></a></p>
            </span>
        </div>
    </header>

    <section id="d-dashboard">

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- enlaces -->
            <div class="collapse navbar-collapse" id="opciones">   
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="dashboard.html"><i class="bi bi-person-fill"></i> Usuarios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-people-fill"></i> Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="productos.html"><i class="bi bi-basket-fill"></i> Productos</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-box2-fill"></i> Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-clipboard-data-fill"></i> Reportes</a>
                </li>            
              </ul>
            </div>
          </nav>

        <article class="d-contenido">
            <div class="contenido-principal">

                <img src="/assets/img/golden.jpg" alt="Perrito" class="card-img-top rounded-circle img-titulo">

                <h1>Gestión de productos</h1>

                <a href="/views/login/productos/productosAdd.html" class="btn btn-primary agregar"> Agregar</a>

            </div>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Término clave" aria-label="Search">
                <button class="btn btn-primary buscar" type="submit">Buscar</button>
                </form>

            <div class="table-responsive contenido-tabla">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id Producto</th>
                            <th>Nombre</th>
                            <th>Características</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td data-titulo="Id producto">xxxxx</td>
                            <td data-titulo="Nombre">xxxxx</td>
                            <td data-titulo="Características">xxxxx</td>
                            <td data-titulo="Precio">xxxxx</td>
                            <td data-titulo="Estado">xxxxx</td>
                            <td data-titulo="Acciones"><a href="#"><img src="/assets/img/modificar.png" width="30px"> Modificar</a></td>
                            <td data-titulo="Acciones"><button class="btn btn-primary eliminar">Eliminar</button></td>
                        </tr>
                      </tbody>
                </table>
            </div>

        </article>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>