@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*font-family: 'Lato', sans-serif;*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

:root{
	--dark-color:#191919;
	--white-color:#FFFFFF;
	--purple-color:rgb(117,41,149);
	--blue-color:#00B2B1;
	--gray-color:#828282;
	--ligh-color:#F3F3F3;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    color: var(--purple-color);
}

p {
    color: var(--dark-color);
    text-align: justify;
}

/* Bootstrap */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* Diseño de Index */
.header-logo img {
    margin-bottom: 1rem;
    max-width: 270px;
}

.header-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.azul {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}

.azul:hover {
    color: var(--blue-color);
    background-color: white;
    border-color: var(--blue-color);
}

.morado {
    color: var(--purple-color);
    border-color: var(--purple-color);
}

.morado:hover {
    color: #fff;
    background-color: var(--purple-color);
    border-color: var(--purple-color);
}

.buscar-nav {
    color: var(--white-color);
    border-color: var(--white-color);
}

.buscar-nav:hover {
    color: #fff;
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}

.agenda-cita {
    background-image: url(../img/fondo.jpg);
    padding: 3rem;
}

.agenda-cita h1 {
    color: var(--dark-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.agenda-cita h3 {
    color: var(--dark-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.agenda-promo {
    background-color: var(--purple-color);
    padding: 3rem;
    text-align: center;
}

.agenda-promo h1 {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 3px 3px 3px var(--dark-color);
}

.title-section {
    margin: 1rem .5rem;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px var(--dark-color);
}

.card {
    color: var(--purple-color);
    margin: 1rem;
    text-align: center;
}

.card-title {
    font-weight: bolder;
}

.container-footer {
    background-image: url(/assets/img/fondo.jpg);
}

.background-footer {
    background-color: rgba(117, 41, 149, .4);
    width: 100%;
}

.card-footer{
    border: none;
}

.footer-title {
    color: var(--white-color);
}

.footer-text {
    color: var(--white-color);
    text-align: center;
}

.card-footer img {
    display: flex;
    justify-content: center;
    max-width: 100px;
}

/* Diseño de Equipo */

.banner img {
    max-width: 1440px;
    width: 100%;
}

.card-team{
    border: none;
}

.card-team img {
    max-width: 150px;
}

.title-specialty {
    color: var(--dark-color);
}

.title-specialty, .title-name {
    text-shadow: 1px 1px 2px var(--gray-color);
}

/* Diseño de Servicios */

.carousel-title {
    background-color: rgba(117, 41, 149, .5);
    display: inline-block;
}

.card-servicio {
    border: none;
}

.card-servicio img {
    border: 3px solid var(--blue-color);
    border-radius: 10px 40px;
}

.card-servicio p {
    background: linear-gradient(180deg, rgba(117, 41, 149, 0.37) 0%, rgba(0, 178, 209, 0.35) 100%);
}

/* Diseño de Contacto*/
.contacto1, .contacto2{
    flex-direction: column;
}

.contacto-form{
    background-color: #00B2B1;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    margin: 2rem .1rem;
    width: 100%;
    padding: 2rem;
}

.parte1, .parte2{
    flex-direction: column;
    margin: .5rem;
    width: 100%;
}

.info-contacto{
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.mb-3 label{
    color: #F3F3F3;
    font-size: 20px;
    font-weight: 700;
}

.the-button{
    display: flex;
    justify-content: center;
}

.enviar{
    background-color: var(--purple-color);
    border-radius: 30px;
    align-items: center;
    width: 80px;
}

.direccion{
    display: flex;
}

.direccion i{
    margin-right: 1.5rem;
}

.mapa-contacto{
    justify-content: center;
    max-width: 300px;
    padding: .5rem;
}

.mapa-contacto iframe{
    max-width: 250px;
}

/* Diseño de Tips*/

.background-tips{
    background-image: url(../img/fondo.jpg);
    margin: 1rem;
    padding: 1rem;
}

.container-tips{
    flex-direction: column;
    margin: .5rem;
}

.gatos, .perros{
    flex-direction: column;
}

.imagen-gatos img, .imagen-perros img{
    border: 5px solid #00B2D1;
    border-radius: 50px 70px;
    max-width: 800px;
    width: 100%;
}

.texto-gatos, .texto-perros{
    background: rgba(255, 255, 255, 0.84);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 0px 40px 40px 0px;
    padding: 1rem;
}

.texto-gatos h1, .texto-perros h1{
    color: #00B2D1;
    font-weight: 700;
    font-size: 36px;
}

/* Diseño de Login*/
.background-login{
    margin: 1rem;
}

.volver{
    background-color: var(--blue-color);
    margin: 1rem;
}

.background-login img{
    width: 100%;
}

.back-login{
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
}

.image i{
    color: var(--purple-color);
    font-size: 60px;
}

.mb-3 label {
    color: #000000;
}

.buttons-form-login{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.buttons-form-login button{
    margin-top: 1rem;
}

.recordar{
    display: flex;
    justify-content: center;
}

.recordar p{
    color: #00B2B1;
    cursor: pointer;
    text-decoration: underline;
}

/* Diseño de dashboard */

.d-logo{
    margin: 1rem;
}

.d-logo img{
    width: 100%;
}

.d-sesion{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.d-sesion img{
    border: 3px solid var(--purple-color);
    max-width: 280px;
}

.d-sesion p, .d-sesion i{
    color: var(--purple-color);
    font-size: 20px;
}

#d-dashboard{
    margin: 1rem;
    padding: 1rem;
}

.d-contenido{
    margin: 1rem;
    padding: 1rem; 
}

/* Diseño de productos*/

.contenido-principal{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.contenido-principal img{
    max-width: 100px;
}

.contenido-principal h1{
    color: var(--dark-color);
    margin: 1rem;
    text-align: center;
}

.agregar {
    background-color: var(--purple-color);
}

.buscar{
    background-color: var(--purple-color);
}

.contenido-tabla{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

td a{
    text-decoration: none;
}

.eliminar{
    background-color: #00B2D1;
}

/* Diseño de productosAdd*/

.productoAdd-form{
    display: flex;
    flex-direction: column;
}

.guardar{
    background-color: var(--purple-color);
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {
    /* Diseño de Contacto*/

    .contacto-form{
        flex-direction: row;
    }

    .parte2{
        justify-content: center;
    }

    .contacto-imagen{
        justify-content: center;
    }

    .contacto2{
        align-content: center;
        flex-direction: row;
    }

    .mapa-contacto{
        margin: 1rem;
        max-width: 550px;
    }

    .mapa-contacto iframe{
        max-width: 550px;
    }

    /* Diseño de Tips*/

    .container-tips{
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 30px;
        padding: 1rem;
    }

    /* Diseño de Login*/

    #login{
        border: 3px solid var(--dark-color);
        border-radius: 10px;
        min-width: 500px;
        padding: 1rem;
    }

    /* Diseño de dashboard */

    .header-dashboard{
        display: flex;
    }

    .d-logo{
        align-items: center;
        display: flex;
        flex-basis: 70%;
    }

    .d-logo img{
        max-width: 400px;
        max-height: 130px;
    }

    .d-sesion{
        flex-basis: 25%;
    }

    .d-sesion img{
        max-width: 100px;
    }

}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {

    /* Diseño de Contacto*/
    .contacto1{
        flex-direction: row;
    }

    .contacto-imagen img{
        margin: 1rem;
        max-width: 300px;
    }

    .contacto-form{
        margin: 2rem;
        max-width: 550px;
        padding: .2rem 3rem;
    }

    .parte1, .parte2{
        flex-direction: column;
        justify-content: center;
        margin: .5rem;
        width: 100%;
    }

    /* Diseño de Tips*/

    .background-tips{
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 30px;
        margin: 2rem 2rem;
        padding: 2rem 2rem;
    }

    .gatos{
        flex-direction: row;
    }

    .perros{
        flex-direction: row-reverse;
    }

    .imagen-gatos img, .imagen-perros img{
        min-width: 600px;
    }

    .texto-perros{
        border-radius: 40px 0px 0px 40px;
    }

    .texto-gatos, .texto-perros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .texto-gatos h1, .texto-perros h1{
        margin-bottom: 2rem;
        backdrop-filter: blur(4px);
        
    }

    /* Diseño de Login*/

    .background-login img{
        max-width: 700px;
    }

    #login{
        min-width: 700px;
        padding: 3rem;
    }

    .image i{
        font-size: 80px;
    }

    /* Diseño de Login*/

    .d-logo img{
        max-width: 500px;
        max-height: 170px;
    }

    .d-sesion img{
        max-width: 150px;
    }

    /* Diseño de productos */

    .contenido-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}